.form01 {
    background-color: gray;
    padding: 25;
    border-radius: 50px;
    width: fit-content;
}
.form01 a {
    display: inline-block; 
    width: 90px;
    height: 25px;
    padding: 4px;
    background-color: aqua;
    box-sizing: border-box; 
    text-align: center;
    line-height: 15px; 
}

.form01 input {
    width: 300px;
    height: 25px;
}